body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.search-form {
    display: inline-block;
}

.search-input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 24px;
}

.search-button {
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 10px;
    border: none;
    border-radius: 24px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e8e8e8;
}
